section{
    display: flex;
    flex-wrap: wrap;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px;
    align-content: center;
    /*padding: 75px 90px;
    margin-left: 120px;*/
    align-items: center;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 20px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 1;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 7px;
    background-color: black;
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 10px;
}
.progress-line.Python span{
    width: 90%;
}
.progress-line.ReactJS span{
    width: 65%;
}
.progress-line.DataScience span{
    width: 65%;
}
.progress-line.DeepLearning span{
    width: 65%;
}
.progress-line.WebApplicationDevelopment span{
    width: 70%;
}

.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    background-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{
    stroke-dashoffset: 60;
}
.path-2{
    stroke-dashoffset: 200;
}
.path-3{
    stroke-dashoffset: 150;
}
.path-4{
    stroke-dashoffset: 190;
}
.path-5{
    stroke-dashoffset: 210;
}
.path-6{
    stroke-dashoffset: 190;
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    opacity: 1;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    opacity: 1;
}